<div class='list-group'>
  {{#each this}}
    <a
      href='#'
      class='list-group-item list-group-item-action flex-column align-items-start'
    >
      <div class='d-flex w-100 justify-content-between'>
        <h5 class='mb-1'>Commented By {{user.name}}</h5>
        <small class='text-muted'>Date Commented:
          {{format_date date_created}}</small>
      </div>
      <p class='mb-1'>{{comment_text}}</p>
    </a>
  {{/each}}

</div>